.line-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #4f46e5;
  animation: slideIn 2s forwards;
}

@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
